.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--color-heading);
    background-color: #141e2e;
    border-bottom: 1px solid var(--color-border);
}